/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales adicionales */

html {
  scroll-behavior: smooth;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Mantén las partículas detrás del contenido */
}
